@model ServicesLibrary.Models.User.UserRegistrationModel
@{
    ViewData["Title"] = "Register";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<h2>New user registation</h2>
<h4>@ViewBag.Message</h4>
<div class="container">
    <form role="form" method="post" asp-controller="registration" asp-action="register">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label class="custom-input-label" asp-for="Email"></label>
            <div class="col-md-4" style="padding: 0">
                <input class="form-control"  accept="form-control" asp-for="Email" />
            </div>
            <span class="help-block" style="min-height: 4em;" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label class="custom-input-label" asp-for="Password"></label>
            <div class="col-md-4" style="padding: 0">
                <input class="form-control"  asp-for="Password" />
            </div>
            <span class="help-block" style="min-height: 1em;" asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <input class="btn btn-outline-success" type="submit" value="Register" />
        </div>
    </form>
</div>