@model ServicesLibrary.Models.User.UserAssignRoleModel

@{
    ViewData["Title"] = "AssignUserRole";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<h2>Assign role</h2>
<div>
    <h4>@Model.Email</h4>
</div>
<div>
    <h6>@ViewBag.Message</h6>
</div>
<form method="post" asp-controller="User" asp-action="AssignRole">
    <div asp-validation-summary="ModelOnly"></div>
     <div>
        @foreach (var role in Model.Roles)
        {
            <input type="radio" asp-for="SelectedRole" value="@role"/> @role <br />
        }
    </div>
    <div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />

    </div>
    <div class="form-group">
        <input class="btn btn-outline-success" type="submit" value="Assign" />
    </div>
</form>